<center>
    <h2>Edit Your Profile</h2>
    <%= form_tag profile_edit_path, method: :patch %>
      <%= label_tag :name %>
      <%= text_field_tag :name, @user.name %>
      <%= label_tag :address %>
      <%= text_field_tag :address, @address.address %>
      <%= label_tag :city %>
      <%= text_field_tag :city, @address.city %>
      <%= label_tag :state %>
      <%= text_field_tag :state, @address.state %>
      <%= label_tag :zip %>
      <%= text_field_tag :zip, @address.zip %>
      <%= label_tag :email %>
      <%= email_field_tag :email, @user.email %>
      <%= submit_tag 'Update Profile' %>
</center>
